@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}

body{
    font-size: 100%;
    background-color: #252142;
    font-family: 'Roboto', sans-serif;
    color: white;
}

.header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 16px;
    background-color: #312e4d;
}

.header-main{
    display: flex;
    align-items: center;
    gap: 16px;
    padding-left: 16px;
}

.header-title{
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
    font-weight: 600;
}

.header-menu{
    display: flex;
    gap: 36px;
    padding-right: 16px;
    font-size: 20px;
}

.header-menu-col{
    text-decoration: none;
    color: #afa9e9;
}

.header-menu-col:hover{
    color: #877fdd;
}

.header-menu-exit{
    text-decoration: none;
    color: white;
}

.header-menu-exit:hover{
    color: #a29ce0;
}

.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 96px;
    gap: 36px;
}

#main-title{
    font-size: 66px;
    font-weight: 700;
    color: #5e54ba;
}

#sub-title{
    font-size: 24px;
}

#content-double-card{
    /* Flex */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 92px;
    gap: 58px;

    background-color: white;
    border: 6px solid #494464;
    border-radius: 16px;
    width: 260px;
    height: 380px;
}

.input-cartao{
    text-align: center;
}

.input-cartao::placeholder{
    font-size: 20px;
    font-weight: bold;
    color: #3a3750;
}

.divider{
    width: 248px;
    height: 12px;
    border-bottom: 1px dashed #9d9bb1;
    position: relative;
}

.content-card-text{
    color: #252142;
    font-size: 48px;
}

.new-button{
    background-color: #574ea1;
    border-radius: 4px;
    width: 256px;
    height: 62px;
    color: white;
    font-size: 18px;
    font-weight: bold;
}

.new-button:hover{
    background-color: #6d61c9;
}